/*global styles*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fefae0;
}
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #606c38;
}
h1 {
  font-size: 3.8rem;
  line-height: 4.9rem;
  margin: 50px 20px 20px 20px;
  color: #fefae0;
  font-family: "Amatic SC", sans-serif;
}
h2 {
  line-height: 4.2rem;
  font-size: 3rem;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.1rem;
}
p {
  font-size: 1.4rem;
}
li {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.mobile-layout {
  margin: 80px 20px 80px 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg {
  background-color: #fefae0;
  margin: 0;
  padding: 0;
}

/*--------LINKS---------*/
.button {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  /* border: #BC6C25 solid 2px; */
  background-color: #dda15e;
  color: #fefae0;
  width: 178px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px;
  display: flex;
  height: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  transition: color 2s ease-in-out;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.button:hover {
  border: #bc6c25 solid 2px;
  background-color: #fefae0;
  color: #bc6c25;
}

/*--HEADER---*/
nav {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.list-container {
  display: none;
  margin-left: 300px;
}

/*----HERO------*/


.hero .hide-on-mobile {
  display: none;
}
.hero.mobile-layout{
  margin-top: 0;
}
h1.hide-on-desktop {
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 400;
}
#video-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#background-video,
.video-overlay {
  width: 100vw;
  /* height: 90vh; */
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.video-overlay {
  background-color: #606c38;
  opacity: 0.3;
}
i {
  color: #fefae0;
  font-size: 1.3rem;
  line-height: 1rem;
}
a.button{
  margin: 15px;
}

/*-------OUR MARKETS-------would like to add animation to the bottom of each card*/

.ourmarkets .desktop-layout {
  display: none;
}
.block-container{
display: block;
}

.mobile-layout{
  display: block;
  margin-bottom: 20px;

}

.market-card {
  width: 200px;
  border-radius: 7%;
  border: #606c38 solid 1px;
  text-align: left;
  display: inline-block;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.opacitylayer {
  background: rgba(126, 134, 98, 0.37);
  padding: 10px;
  border-radius: 7%;
}
.market-card h3 {
  margin: 230px 0 0 20px;
  color: #fefae0;
  font-size: 2.4rem;
}
.market-card p {
  margin: 0 0 10px 20px;
  color: #fefae0;
}
.market-card a /*--downtown courtenay link is out of line in mobile--*/ {
  margin: 20px 0 50px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #bc6c25;
  font-weight: 900;
}
.market-card a:hover {
  text-decoration: underline;
}
.sat.market-card {
  background-image: url(images/sat-market.jpg);
  background-size: cover;
}
.sun.market-card {
  background-image: url(images/sun-market.jpg);
  background-size: cover;
}
.wed.market-card {
  background-image: url(images/wed-market.jpg);
  background-size: cover;
}

/*----COMMUNITY----*/
.community a {
  width: 50px;
  margin: 5px;
  display: flex;
  font-size: 0.8rem;
  height: 5px;
  line-height: 9px;
}
.community .button-container {
  display: flex;
  flex-direction: row;
}
.community p,
.community h3 {
  margin-bottom: 0;
}
.community h3 {
  margin-top: 50px;
}
.for-desktop-img {
  display: none;
}

/*--CONTACT--*/
.contact h3 {
  margin-bottom: 0;
}
iframe{
  margin-top: 50px;
}

/*---CTA---*/
.cta.mobile-layout {
  display: flex;
  align-content: center;
}
.bgcolour {
  background-color: #606c38;
}
form {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
}
form input {
  height: 20px;
  font-size: 1.4rem;
  color: #606c38;
  background-color: #fefae0;
  padding: 5px;
  border-style: none;
  border-radius: 7px;
}
.submit-button {
  width: 150px;
  height: 30px;
  text-align: center;
  padding: 0;
  border-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}
.form-button {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-bottom: 60px;
}
.cta {
  color: #fefae0;
  margin-top: 50px;
}
.cta h2 {
  font-weight: 700;
  color: #fefae0;
  margin-top: 50px;
}/*--- TODO Fix margin spacing of content section... */
.for-desktop {
  display: none;
}
form label {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

/*-----FOOTER-----*/
footer ul {
  list-style-type: none;
  margin: 15px;
  padding: 0;
}
footer li a {
  text-decoration: none;
  color: #283618;
  font-weight: 600;
  font-size: 1.4rem;
}
footer li {
  margin-top: 30px;
}
footer li a:hover {
  text-decoration: underline;
}
footer .list-container {
  display: flex;
  margin: 0;
}

footer p {
  font-size: 2.4rem;
  display: none;
}

/*----DISCLAIMER*----*/

.disclaimer,
.disclaimer h3 {
  display: inline-block;
  margin: 20px;
  color: #fefae0;
}
.disclaimer h3 {
  display: block;
  text-align: center;
}
.disclaimer p {
  font-style: italic;
}

/* Large devices (desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*----GLOBAL STYLES FOR DESKTOP----*/
  .desktop-layout {
    max-width: 1170px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  header {
    display: flex;
    justify-content: center;
    width: 1170px;
    align-items: center;
  }
  .nav-container {
    margin: 0;
    padding: 0;
    background-color: #bc6c25;
    display: flex;
    justify-content: center;
  }
  header nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  .list-container {
    display: flex;
    justify-content: flex-end;
  }
  header img {
    width: 50px;
  }
  .list-container ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .list-container li {
    margin-right: 20px;
  }
  .list-container li:hover {
    text-decoration: underline;
  }
  .nav-container {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fefae0;
    font-weight: 700;
  }

  /*---HERO---*/
  .hero {
    display: flex;
    margin-top: 0;
  }
  blockquote {
    width: 320px;
  }
  .hero .button {
    margin: 20px;
  }
  .hero .button-container {
    margin: 10px;
  }
  .hero .hide-on-mobile {
    display: flex;
    color: #fefae0;
  }
  h1.hide-on-mobile {
    font-weight: 700;
    font-size: 6.2rem;
    margin: 50px;
  }
  .hero-content-container {
    display: flex;
    flex-direction: row;
  }
  h2.hide-on-mobile {
    color: #fefae0;
  }

  /*----OUR MARKETS DESKTOP----*/

  .market-card {
    margin: 10px;
    width: 300px;
    margin: 5px 80px;
  }
  .block-container {
    display: flex;
    flex-direction: row;
  }
  .link-layout {
    display: flex;
    flex-direction: column;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 30px;
  }
  .content-container h2 {
    margin-bottom: 20px 0 20px 0;
    margin-top: 20px;
  }
  .card-container {
    display: flex;
    margin: 0;
  }

  /*---------JOIN THE COMMUNITY--DESKTOP-----*/
  .community-container {
    display: flex;
    margin-top: 50px;
  }
  .for-desktop-img {
    display: flex;
  } /*TODO ---opacity layer not going on top of image??*/
  .bill {
    background-image: url(images/bill.jpeg);
    background-size: cover;
    border-radius: 7%;
    border: #606c38 solid 3px;
  }
  .opacitylayer-bill {
    width: 400px;
    height: 500px;
    background: rgba(126, 134, 98, 0.37);
    padding: 10px;
    border-radius: 7%;
  }
  .community-container1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .community-container2 {
    display: flex;
  }
  .perks {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 300px;
  }
  .button-container {
    margin-top: 30px;
    display: flex;
  }
  .community a {
    width: 150px;
    margin: 10px;
    display: flex;
    font-size: 1.8rem;
    height: 5px;
    line-height: 9px;
  }
  .community h3 {
    margin-top: 0;
  }
  /*----what size should p font be on desktop? it seems small currently*/
  /*-----CONTACT FOR DESKTOP------------*/
  .contact-container {
    background-image: url(images/courtenay-map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-content: center;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 300px 0;
    padding: 0;
    background-color: #fefae0;
  }

  /*-------CTA For desktop------*/
  .for-desktop {
    display: flex;
  }

  .cta.desktop-layout {
    margin-bottom: 0;
  }
  .hide-on-desktop {
    display: none;
  }
  .cta-content-container,
  form {
    width: 48%;
    margin: 1%;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 50px;
    text-align: left;
    margin-top: 20px;
  }
  form label {
    margin: 10px 0 5px 0;
  }
  form input {
    width: 300px;
  }
  .cta {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .cta h2 {
    margin-top: 0;
  }

  /*------------FOOTER DESKTOP-----------*/

  /*---DISCLAIMER---*/

  footer {
    display: flex;
  }
  footer p{
    display: flex;
  }
  footer nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }
  footer img {
    width: 50px;
  }
  .list-container ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .list-container li {
    margin-right: 20px;
  }
  .list-container a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #fefae0;
    font-weight: 400;
  }
  section.disclaimer.desktop-layout {
    margin: 0;
  }
  .disclaimer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 1170px;
    flex-direction: column;
  }
  .disclaimer p {
    margin-top: 10px;
    text-align: center;
  }
  .disclaimer h3 {
    margin-bottom: 0;
  }
}
